
.form_flex{
    display: flex;
align-items: center;
justify-content: center;
}
.btn_submit{
  background-color: #3c9ddc;
  color:white;
  border:none;
  border-radius: 5px;
  height:40px;
  width:80px
}

